<html>
   <div>
   <header>

   </header>
   <body>
      <center>
         <br>
         <div class="clearfix">
            <div class="box1">
               <p>Welcome to our UNCC Blog made by Group 12 consisting of Duke Le, Soam, Kevin Tran, and Glenn Um.</p>
               <img style='height: 100%; width: 100%; object-fit: contain' src="https://inside.uncc.edu/sites/inside.uncc.edu/files/fields/news_features/detail_image/bonner-leaders-360px.jpg">
            </div>
            <div class="box2">
               <h1><u>TRENDING</u></h1>
            </div>
         </div>
         
         <br>
         <div class="clearfix">
            <div class="box">
               <p><a href="#" class="button">LOGIN</a>
               <a href="#" class="button">REGISTER</a></p>
            </div>
            <div class="box">
               <p><a href="#" class="button">CREATE A NEW ARTICLE</a></p>
            </div>
            <div class="box">
               <p><a href="#" class="button">VIEW FEED</a></p>
            </div>
      </center>
   </body>
   </div>
</html>
