<html>
   <div>
   <header>
      <p1><center>
  ITCS 3155 PROJECT
  <span>
    UNCC BLOG
  </span>
  &mdash; GROUP 12 &mdash;      </center>
</p1>
 
      <div class="topnav">
         <a class="active" href="#home">HOME</a>
         <a href="#about">ABOUT</a>
         <a href="#contact">PROFILE</a>
         <a href="#">SIGN-UP OR LOGIN</a>
         <input type="text" placeholder="Search...">
      </div>
   </header>
   <body>
      <center>
         <br><br>
         <div class="clearfix">
            <div class="box1" style="background-color:#212121">
               <p>Welcome to our UNCC Blog made by Group 12 consisting of Duke Le, Soam, Kevin Tran, and Glenn Um.</p>
               <img style='height: 100%; width: 100%; object-fit: contain' src="https://inside.uncc.edu/sites/inside.uncc.edu/files/fields/news_features/detail_image/bonner-leaders-360px.jpg">
            </div>
            <div class="box2" style="background-color:#212121">
               <h1><u>TRENDING</u></h1>
            </div>
         </div>
         
         <br>
         <div class="clearfix">
            <div class="box" style="background-color:#212121">
               <p><a href="#" class="button">LOGIN</a>
               <a href="#" class="button">REGISTER</a></p>
            </div>
            <div class="box" style="background-color:#212121">
               <p><a href="#" class="button">CREATE A NEW ARTICLE</a></p>
            </div>
            <div class="box" style="background-color:#212121">
               <p><a href="#" class="button">VIEW FEED</a></p>
            </div>
      </center>
   </body>
   </div>
</html>
