<html>
   <div>
   <header>
      <p1><center>
  ITCS 3155 PROJECT
  <span>
    UNCC BLOG
  </span>
  &mdash; GROUP 12 &mdash;      </center>
</p1>

      <div class="topnav">
         <a class="active" href="#home">HOME</a>
         <a href="#about">ABOUT</a>
         <a href="#contact">PROFILE</a>
         <a href="#">SIGN-UP OR LOGIN</a>
         <input type="text" placeholder="Search...">
      </div>
   </header>
   <body>
      <center>
         <br><br>
         <img src="https://inside.uncc.edu/sites/inside.uncc.edu/files/fields/news_features/detail_image/bonner-leaders-360px.jpg">
         <br><br>
         <div class="clearfix">
            <div class="box" style="background-color:#212121">
               <p>Whatever Here</p>
            </div>
            <div class="box" style="background-color:#212121">
               <p>Login or Sign-up Button Here</p>
            </div>
            <div class="box" style="background-color:#212121">
               <p>Trending Here</p>
            </div>
      </center>
   </body>
   </div>
</html>


