<html>
        <header><center>
            <h1>UNCC BLOG</h1></center>
            <div class="topnav">
              <a class="active" href="#home">Home</a>
              <a href="#about">About</a>
              <a href="#contact">Profile</a>
              <a href="#">Sign-Up</a>
              <input type="text" placeholder="Search..">
            </div>
<div>            
        </header>

        <body>
            
        </body>
    </div>

</html>



