<html>
   <div>
   <header>
      <p1><center>
  ITCS 3155 PROJECT
  <span>
    UNCC BLOG
  </span>
  &mdash; GROUP 12 &mdash;      </center>
</p1>
 
      <div class="topnav">
         <a href="home">HOME</a>
         <a class="active" href="#about">ABOUT</a>
         <a href="#contact">PROFILE</a>
         <a href="#">SIGN-UP OR LOGIN</a>
         <input type="text" placeholder="Search...">
      </div>
   </header>
   

   <h1>Who is this guy?</h1>
    <p>My name is Kevin Tran and
        I currently am a computer science major and enrolled in the University of North Carolina at Charlotte.
        I am in my second year of university and am pursuing my quest for experience. I became very motivated
        when I saw many of my family members doing different things on the computer. I wanted to know how to do
        it, my curiosity led me to learn how to code a certain type of video game in Lua.  Eventually I was fascinated
        with how coding worked, and really wanted to know how to create things with simple phrases. I plan on having
        computer science play a big role in my life in the future.</p>

   </div>
</html>
